body {
    padding-top: 70px;
    /* height of navbar */
}

.root {
    padding-top: 32px;
}

.navbar {
    background-color: #006494;
}

.navbar-brand {
    font-size: 22;
}

html {
    font-family: "Inter", sans-serif;
}